node_modules/
dist/
build/
*.ipa
*.p8
*.p12
*.mobileprovision
.DS_Store
ios/App/build/
ios/App/output/
ios/App/Pods/
ios/App/App/public/
ios/App/DerivedData/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
fastlane/report.xml
fastlane/README.md
fastlane/*.log
.bundle/
vendor/bundle/
